/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

/* Basic Page and General Styling */
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

label {
  display: block;
  margin: 15px 0;
}

select {
  width: 100%;
  padding: 10px;
}

#activity-details {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  border-radius: 5px;
}

/* Navigation Bar Styling */
nav {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Hero Section Styling */
.hero {
  background-color: #f4f4f4;
  text-align: center;
  padding: 4rem 1rem;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.25rem;
}

/* Info Section Styling */
.info {
  text-align: center;
  padding: 2rem 1rem;
}

.info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.info p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

/* Image Gallery Styling */
.image-gallery {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.image-gallery img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}

/* Footer Styling */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-top: auto;
  width: 100%;
}
